<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
		<sectionGroup name="enyim.com">
			<section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
		</sectionGroup>
		<section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
		<section name="northscale" type="Membase.Configuration.MembaseClientSection, Membase" />
	</configSections>

	<northscale>
		<!-- bucket is optional and can be specified in the constructor, 
			so you can use the same configuration to connect to different buckets in the cluster -->
		<!--<servers bucket="default" userName="Administrator" password="11111111">-->
		<servers bucket="default">
			<!-- provide at least 2-3 urls from your cluster -->
			<!--<add uri="http://192.168.2.160:8080/pools/default" />-->
			<add uri="http://192.168.2.200:8080/pools/default" />
		</servers>
		<socketPool minPoolSize="10" maxPoolSize="100" connectionTimeout="00:00:10" />
		<locator type="Enyim.Caching.Memcached.DefaultNodeLocator, Enyim.Caching" />
	</northscale>


	<enyim.com>
		<memcached>
			<servers>
				<!-- put your own server(s) here-->
				<add address="localhost" port="20002" />
				<add address="localhost" port="20004" />
				<add address="127.0.0.1" port="20006" />
				<add address="127.0.0.1" port="20008" />

				<!--<clear />
				
				<add address="172.16.172.130" port="20002" />
				<add address="172.16.172.130" port="20004" />
				<add address="172.16.172.130" port="20006" />
				<add address="172.16.172.130" port="20008" />-->
			</servers>
			<socketPool minPoolSize="10" maxPoolSize="100" connectionTimeout="00:00:10" deadTimeout="00:02:00" />
			<authentication type="Enyim.Caching.Memcached.PlainTextAuthenticator, Enyim.Caching" userName="demo" password="demo" />
		</memcached>
	</enyim.com>
	<memcached>
		<keyTransformer type="Enyim.Caching.Memcached.TigerHashKeyTransformer, Enyim.Caching" />
		<servers>
			<add address="127.0.0.1" port="20002" />
			<add address="127.0.0.1" port="20004" />
			<add address="127.0.0.1" port="20006" />
			<add address="127.0.0.1" port="20008" />
		</servers>
		<socketPool minPoolSize="2" maxPoolSize="100" connectionTimeout="00:00:10" deadTimeout="00:02:00" />
	</memcached>

	<log4net>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
			</layout>
		</appender>
		<root>
			<level value="Debug" />
			<appender-ref ref="ConsoleAppender" />
		</root>
	</log4net>

</configuration>