<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="enyim.com">
			<section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
		</sectionGroup>
		<section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
	</configSections>
	<enyim.com>
		<memcached>
			<servers>
				<!-- put your own server(s) here-->
				<add address="127.0.0.1" port="20002" />
				<add address="127.0.0.1" port="20004" />
				<add address="127.0.0.1" port="20006" />
				<add address="127.0.0.1" port="20008" />

				<!--<clear />
				
				<add address="172.16.172.130" port="20002" />
				<add address="172.16.172.130" port="20004" />
				<add address="172.16.172.130" port="20006" />
				<add address="172.16.172.130" port="20008" />-->
			</servers>
			<socketPool minPoolSize="10" maxPoolSize="100" connectionTimeout="00:00:10" deadTimeout="00:02:00" />
		</memcached>
	</enyim.com>
	<memcached keyTransformer="Enyim.Caching.TigerHashTransformer, Enyim.Caching">
		<servers>
			<add address="127.0.0.1" port="20002" />
			<add address="127.0.0.1" port="20004" />
			<add address="127.0.0.1" port="20006" />
			<add address="127.0.0.1" port="20008" />
		</servers>
		<socketPool minPoolSize="2" maxPoolSize="100" connectionTimeout="00:00:10" deadTimeout="00:02:00" />
	</memcached>
</configuration>