<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
		<sectionGroup name="enyim.com">
			<section name="log" type="Enyim.Caching.Configuration.LoggerSection, Enyim.Caching" />
			<!-- ... -->			
		</sectionGroup>
	</configSections>

	<enyim.com>
		<log factory="Enyim.Caching.Log4NetFactory, Enyim.Caching.Log4NetAdapter" />
		<!-- ... -->
	</enyim.com>

	<!-- Basic log4net config. Don't forget to call log4net.Configuration.XmlConfigurator.Configurator() at the start of your app. -->
	<log4net>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
			</layout>
		</appender>
		<appender name="TraceAppender" type="log4net.Appender.TraceAppender">
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
			</layout>
		</appender>
		<root>
			<level value="Info" />
			<appender-ref ref="TraceAppender" />
		</root>
	</log4net>
</configuration>