<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="enyim.com">
			<section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
		</sectionGroup>

		<section name="northscale" type="NorthScale.Store.Configuration.NorthScaleClientSection, NorthScale.Store" />
	</configSections>

	<!-- 
		Use this section as a template if you're connecting to regular memcached servers.
		Note: you must have the enyim.com/memcached section if you're using the parameterless constructor of EnyimMemcachedClient.
	-->
	<enyim.com>
		<!-- binary protocol needs more reallife testing so if you're not 
			comfortable with it, change it back to protocol="Text" -->
		<memcached protocol="Binary">
			<servers>
				<!-- make sure you use the same ordering of nodes in every configuration you have -->
				<add address="127.0.0.1" port="20002" />
				<add address="127.0.0.1" port="20004" />
				<add address="127.0.0.1" port="20006" />
				<add address="127.0.0.1" port="20008" />
			</servers>
			<socketPool minPoolSize="10" maxPoolSize="100" connectionTimeout="00:10:00" deadTimeout="00:02:00" />
		</memcached>
	</enyim.com>

	<!-- 
		Use this section as a template if you're connecting to NorthScale Mecached Servers.
		Note: you must have the top-level northscale section if you're using the parameterless constructor of NorthScaleClient.
	-->
	<northscale transcoder="Enyim.Caching.Memcached.DefaultTranscoder, Enyim.Caching">
		<!-- bucket is optional and can be specified in the constructor, 
			so you can use the same configuration to connect to different buckets in the cluster -->
		<servers bucket="enyim">
			<!-- provide at least 2-3 urls from your cluster -->
			<add uri="http://192.168.2.100:8080/pools/default" />
			<add uri="http://192.168.2.102:8080/pools/default" />
		</servers>
		<socketPool minPoolSize="10" maxPoolSize="100" connectionTimeout="00:00:10" />
	</northscale>

</configuration>
