<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="enyim.com">
			<section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
		</sectionGroup>
	</configSections>

	<!-- 
		Use this section as a template if you're connecting to regular memcached servers.
		Note: you must have the enyim.com/memcached section if you're using the parameterless constructor of EnyimMemcachedClient.
	-->
	<enyim.com>
		<!-- you can use protocol="Text" if your memcached is < 1.3 but you should probably upgrade -->
		<memcached protocol="Binary">
			<servers>
				<!-- make sure you use the same ordering of nodes in every configuration you have -->
				<add address="127.0.0.1" port="20002" />
				<add address="127.0.0.1" port="20004" />
				<add address="127.0.0.1" port="20006" />
				<add address="127.0.0.1" port="20008" />
			</servers>
			<socketPool minPoolSize="10" maxPoolSize="100" connectionTimeout="00:10:00" deadTimeout="00:02:00" />

			<!-- uncomment the section below if your memcached instance requires authentication 
			
			<authentication type="Enyim.Caching.Memcached.PlainTextAuthenticator" zone="AUTHZ" userName="user name" password="password" />
			
			-->
		</memcached>
	</enyim.com>

</configuration>
