<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
		<sectionGroup name="enyim.com">
			<section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
			<section name="log" type="Enyim.Caching.Configuration.LoggerSection, Enyim.Caching" />
		</sectionGroup>
		<section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
		<section name="northscale" type="Membase.Configuration.MembaseClientSection, Membase" />
		<section name="membase" type="Membase.Configuration.MembaseClientSection, Membase" />
	</configSections>

	<northscale>
		<servers bucket="default">
			<add uri="http://192.168.2.200:8080/pools/default" />
		</servers>
		<socketPool minPoolSize="10" maxPoolSize="100" connectionTimeout="00:00:10" />
		<locator type="Enyim.Caching.Memcached.DefaultNodeLocator, Enyim.Caching" />
	</northscale>

	<membase>
		<servers bucket="content" userName="A" password="11111111">
			<add uri="http://192.168.2.160:8091/pools/default" />
		</servers>
		<socketPool connectionTimeout="00:00:02" deadTimeout="00:00:10" />
		<performanceMonitor factory="Membase.Configuration.DefaultPerformanceMonitorFactory, Membase" prefix="AAAA - " />
	</membase>

	<enyim.com>
		<log factory="Enyim.Caching.Log4NetFactory, Enyim.Caching.Log4NetAdapter" />
		<memcached>
			<servers>
				<add address="192.168.2.200" port="11211" />
				<add address="192.168.2.202" port="11211" />
				<add address="192.168.2.204" port="11211" />
			</servers>
			<socketPool minPoolSize="10" maxPoolSize="100" connectionTimeout="00:00:10" deadTimeout="00:02:00" />
			<!--<authentication type="Enyim.Caching.Memcached.PlainTextAuthenticator, Enyim.Caching" userName="demo" password="demo" />-->
		</memcached>
	</enyim.com>

	<log4net>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
			</layout>
		</appender>
		<appender name="TraceAppender" type="log4net.Appender.TraceAppender">
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
			</layout>
		</appender>
		<root>
			<level value="Info" />
			<appender-ref ref="TraceAppender" />
		</root>
		<logger name="Enyim.Caching.Memcached.DefaultNodeLocator">
			<level value="Debug" />
		</logger>		
		<logger name="Enyim.Caching.Memcached.PooledSocket">
			<level value="Info" />
		</logger>
		<logger name="Enyim.Caching.Memcached.Protocol">
			<level value="Info" />
		</logger>
		<logger name="Membase.VBucketAwareOperationFactory">
			<level value="Info" />
		</logger>
		<logger name="Enyim.Caching.Memcached.MemcachedNode">
			<level value="Info" />
		</logger>
	</log4net>

</configuration>