<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="northscale" type="NorthScale.Store.Configuration.NorthScaleClientSection, NorthScale.Store" />
	</configSections>

	<!-- 
		Use this section as a template if you're connecting to NorthScale Mecached Servers.
		Note: you must have the top-level northscale section if you're using the parameterless constructor of NorthScaleClient.
	-->
	<northscale>
		<!--
		
			bucket is optional and can be specified in the constructor, 
			so you can use the same configuration to connect to different buckets in the cluster
			
			you must provide userName and password if the memcached server is "secured" (membase is secured by default)
			
		-->
		<servers bucket="enyim" userName="Administrator" password="password">
			<!-- provide at least 2-3 urls from your cluster -->
			<add uri="http://192.168.2.202:8080/pools/default" />
			<add uri="http://192.168.2.200:8080/pools/default" />
		</servers>
		<!-- the client waits deadTmimeout time to reconnect to the pool when all the specified urls are down -->
		<socketPool minPoolSize="10" maxPoolSize="100" connectionTimeout="00:00:10" deadTimeout="00:00:10" />
	</northscale>

</configuration>
