<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />

		<sectionGroup name="enyim.com">
			<section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
		</sectionGroup>

		<sectionGroup name="test">

			<section name="newProviders" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
			<section name="newProvidersWithFactory" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />

			<section name="vbucket" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />

			<section name="validConfig" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
			<section name="textConfig" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
			<section name="binaryConfig" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />

			<section name="northscaleMemcached" type="NorthScale.Store.Configuration.NorthScaleClientSection, NorthScale.Store" />
			<section name="northscaleMembase" type="NorthScale.Store.Configuration.NorthScaleClientSection, NorthScale.Store" />
		</sectionGroup>
	</configSections>
	<enyim.com>
		<memcached>
			<servers>
				<add address="192.168.2.200" port="11211" />
				<add address="192.168.2.202" port="11211" />
			</servers>
			<socketPool minPoolSize="10" maxPoolSize="100" connectionTimeout="00:00:10" />
		</memcached>
	</enyim.com>

	<test>

		<northscaleMembase>
			<servers userName="Administrator" password="11111111" bucket="content">
				<add uri="http://192.168.2.200:8080/pools/default" />
				<add uri="http://192.168.2.202:8080/pools/default" />
			</servers>
		</northscaleMembase>

		<northscaleMemcached>
			<servers userName="Administrator" password="11111111" bucket="content">
				<add uri="http://192.168.2.200:8080/pools/default" />
				<add uri="http://192.168.2.202:8080/pools/default" />
			</servers>
		</northscaleMemcached>

		<!-- type vs factory test -->

		<newProviders>
			<servers>
				<add address="192.168.2.200" port="11211" />
			</servers>
			<keyTransformer type="MemcachedTest.TestKeyTransformer, MemcachedTest" test="value" />
			<locator type="MemcachedTest.TestLocator, MemcachedTest" test="value" />
			<transcoder type="MemcachedTest.TestTranscoder, MemcachedTest" test="value" />
		</newProviders>

		<newProvidersWithFactory>
			<servers>
				<add address="192.168.2.200" port="11211" />
			</servers>
			<keyTransformer factory="MemcachedTest.TestKeyTransformerFactory, MemcachedTest" test="value" type="Enyim.Caching.Memcached.TigerHashKeyTransformer, Enyim.Caching"/>
			<locator factory="MemcachedTest.TestLocatorFactory, MemcachedTest" test="value" type="Enyim.Caching.Memcached.KetamaNodeLocator, Enyim.Caching"/>
			<transcoder factory="MemcachedTest.TestTranscoderFactory, MemcachedTest" test="value" type="Enyim.Caching.Memcached.DefaultTranscoder, Enyim.Caching"/>
		</newProvidersWithFactory>

		<!-- end of type vs factory test -->

		<vbucket>
			<servers>
				<add address="server1" port="11211" />
				<add address="server2" port="11210" />
				<add address="server3" port="11211" />
			</servers>
			<locator factory="Enyim.Caching.Memcached.VBucketNodeLocatorFactory, Enyim.Caching" hashAlgorithm="crc">
				<data>
					[
						[0, 1, 2],
						[1, 2, 0],
						[2, 1, -1],
						[1, 2, 0]
					]
				</data>
			</locator>
		</vbucket>

		<binaryConfig protocol="Binary">
			<servers>
				<add address="192.168.2.200" port="11211" />
				<add address="192.168.2.202" port="11211" />
			</servers>
			<socketPool minPoolSize="10" maxPoolSize="100" connectionTimeout="00:00:10" />
		</binaryConfig>

		<textConfig protocol="Text">
			<servers>
				<add address="192.168.2.200" port="11211" />
				<add address="192.168.2.202" port="11211" />
			</servers>
			<socketPool minPoolSize="10" maxPoolSize="100" connectionTimeout="00:00:10" />
		</textConfig>

		<validConfig>
			<servers>
				<add address="192.168.2.200" port="20002" />
				<add address="192.168.2.202" port="20004" />
			</servers>
			<socketPool minPoolSize="10" maxPoolSize="100" connectionTimeout="00:00:10" />
		</validConfig>

		<!--<invalidConfig>
			<servers>
				<add address="127.0.0.1" port="1" />
				<add address="127.0.0.1" port="2" />
			</servers>
		</invalidConfig>-->
	</test>

	<log4net>
		<appender name="TraceAppender" type="log4net.Appender.TraceAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger %message%newline" />
			</layout>
		</appender>

		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
			</layout>
		</appender>

		<appender name="OutputDebugStringAppender" type="log4net.Appender.OutputDebugStringAppender" >
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger %message%newline" />
			</layout>
		</appender>

		<root>
			<level value="Info" />
			<appender-ref ref="TraceAppender" />
		</root>

		<logger name="MemcachedTest">
			<level value="Debug" />
		</logger>	</log4net>

</configuration>