<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="enyim.com">
			<section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
		</sectionGroup>

		<sectionGroup name="test">
			<section name="validConfig" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
			<section name="invalidConfig" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
		</sectionGroup>
	</configSections>
	<enyim.com>
		<memcached>
			<servers>
				<add address="127.0.0.1" port="20002" />
				<add address="127.0.0.1" port="20004" />
				<add address="127.0.0.1" port="20006" />
				<add address="127.0.0.1" port="20008" />
			</servers>
			<socketPool minPoolSize="10" maxPoolSize="100" connectionTimeout="1000" />
		</memcached>
	</enyim.com>

	<test>
		<validConfig>
			<servers>
				<add address="127.0.0.1" port="20002" />
				<add address="127.0.0.1" port="20004" />
			</servers>
			<socketPool minPoolSize="10" maxPoolSize="100" connectionTimeout="1000" />
		</validConfig>

		<invalidConfig>
			<servers>
				<add address="127.0.0.1" port="1" />
				<add address="127.0.0.1" port="2" />
			</servers>
		</invalidConfig>
	</test>
</configuration>