<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
		<section name="northscale" type="NorthScale.Store.Configuration.NorthScaleClientSection, NorthScale.Store" />
	</configSections>

	<northscale transcoder="Enyim.Caching.Memcached.DefaultTranscoder, Enyim.Caching">
		<!-- bucket is optional and can be specified in the constructor -->
		<servers bucket="enyim">
			<add uri="http://192.168.2.14:8080/pools/default" />
			<add uri="http://192.168.2.100:8080/pools/default" />
		</servers>
		<socketPool minPoolSize="10" maxPoolSize="100" connectionTimeout="00:00:10" />
	</northscale>
	
	<log4net>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
			</layout>
		</appender>
		<root>
			<level value="Debug" />
			<appender-ref ref="ConsoleAppender" />
		</root>
	</log4net>

</configuration>